# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# AWS
.aws-sam/
samconfig.toml

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*