NEXT_PUBLIC_API_BASE_URL=https://api.novamart.dev

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-in-prod

COGNITO_CLIENT_ID=your_cognito_app_client_id
COGNITO_CLIENT_SECRET=your_cognito_app_client_secret
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/your_user_pool_id

